.events-wrapper {
    background: $bg-grey;
    color: $text-black;
    .container {
        .two-column-smaller-first-column{
            .column {
                .tabs ul{
                    margin-top: 0;
                    margin-bottom: 30px;
                    padding: 0;
                    list-style: none;
                    li {
                        cursor: pointer;
                        color: $text-grey;
                        display: inline-block;
                        font-weight: 700;
                        margin-right: 20px;
                        transition: $default-transition;
                        &:hover {
                            color: lighten($text-black, 60%);
                        }
                        &.tab-current {
                            color: $text-black;
                        }
                    }
                }
                .tab-content {
                    display: none;
                    transition: $default-transition;
                    &.tab-current {
                        display: inherit;
                    }
                }
                .event-cards{
                    display: flex;
                    width: 100%;
                    @include less-than-tablet {
                        width: auto;
                    }
                    @include phone {
                        flex-wrap: wrap;
                        width: auto;
                    }
                    .event-card {
                        background: $text-white;
                        color: $text-black;
                        width: 50%;
                        margin-right: 10px;
                        text-decoration: none;
                        transition: $default-transition;
                        &:last-child {
                            margin-right: 0;
                            margin-left: 10px;
                            @include phone {
                                margin: 0;
                                margin-bottom: 20px;
                            }
                        }
                        @include phone {
                            width: 100%;
                            margin: 0;
                            margin-bottom: 20px;
                        }
                        &:hover {
                            transform: scale(1.05, 1.05);
                        }
                        .event-image {
                            height: 190px;
                            @include less-than-tablet {
                                height: 120px;
                            }
                            img {
                                @include image-cover;
                            }
                        }
                        .event-info {
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }
}