@import "../defaults/variables";

.page-header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
    .navigation {
        display: flex;
        align-items: center;
        transform: translateX(-100%);
        transition: all 0.3s;

        .main-navigation ul{
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
            }
        }
        a {
            color: $text-white;
            text-decoration: none;
            padding: 15px;
        }
        .primary-cta {
            display: none;
            transition: all 0.3s ease-in-out;
        }
        .primary-cta a {
            display: block;
            background-color: $brand-color;
            border-radius: 25px;
            margin-left: 15px;
            padding-left: 25px;
            padding-right: 25px;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;

            &:hover {
                background-color: lighten($color: $brand-color, $amount: 15%);
            }

            &:before {
                content: '';
                background-color: $text-white;
                top: 0;
                left: 0;
                width: 100%;
                height: 10px;
                position: absolute;
                transform: translateX(-100%) rotate(45deg);
                transition: all 0.3s;
            }

            &:hover:before {
                transform: translateX(100%) rotate(45deg);
            }
        }
    }
}

.page-body {
    min-height: 500px;
}