.hero-wrapper {
    .two-column-bigger-first-column{
        .column {
            display: flex;
            min-height: 768px;
            padding: 0 20px;
            @include phone {
                min-height: 100vh;
                padding: 0 20px;
            }
            &:first-child {
                padding-right: 40px;
            }
            &:last-child {
                background: url(../../images/santander-cafe-hero.jpg) center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            > div {
                align-self: center;
            }
            &.play-btn {
                position: relative;
                @include phone {
                    min-height: 30vh;
                }
                img {
                    cursor: pointer;
                    width: 64px;

                    position: absolute;
                    left: -32px;
                    top: calc(50% - 32px);
                    @include phone {
                        left: calc(50% - 32px);
                        top: -32px;
                    }
                }
            }
        }
    }
}