@import "../defaults/variables";

html, body {
    background-color: $text-black;
    color: $text-white;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 15px;
    width: 100%;
    @include phone {
        min-width: 320px;
    }
}

// Grid Styles
.three-column{
    display: flex;
    .column {
        margin-left: 2%;
        width: 31.6666666667%;
        &:first-child {
            margin-left: 0;
        }
        @include phone {
            width: 100%;
            margin: 0 0 20px 0;
        }
    }
    @include phone {
        flex-wrap: wrap;
    }
}