// Typography
@mixin primaryFont {
    font-family: 'Playfair Display', serif;
}
@mixin secondaryFont {
    font-family: 'Quicksand', Helvetica, sans-serif;
}

// Media Queries
@mixin phone {
    @media only screen and (max-width: 479px) {
        @content;
    }
}

@mixin phablet {
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}
@mixin less-than-tablet {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-hd {
    @media only screen and (min-width: 1600px) {
        @content;
    }
}


// Image cover
@mixin image-cover {
    width:100%;
    height:100%;
    object-fit: cover;
}