// Colors
$brand-color: #EC0000;
$branch-color-lighten: lighten($brand-color, 53%);
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #757575;
$bg-grey: #E5E5E5;


//Typography
$baseFontSize: 16px;
$smallFont: $baseFontSize - 2;
$bigFont: $baseFontSize * 1.25;


//Custom Variables
$slider-width: 798px;
$slider-height: 300px;


//CSS Animations
$default-transition: all 0.3s;